
/* missing from sausage? */

.grid_container {
  margin-left: -10px;
  margin-right: -10px;
}


/* the toolbar module adds an inline style to body which messes with the sticky footer */  

body.toolbar {
  padding-top: 0 !important;
}

body.toolbar #toolbar-gap {
  height: 30px;
}

body.toolbar-drawer #toolbar-gap {
  height: 65px;
}


/* --- nice vertical page look --- */

body {
  background: #444;
}

#page {
  width: 980px;
  background: #eee;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
}


/* debugging stuff that needs to go in sausage - LIKELY TO CHANGE */

.b {
  margin: -5px -5px 15px -5px;
  border: 1px solid #ddd;
  padding: 4px;
  background: white;
}

.p .panel-pane {
  margin: -5px -5px 15px -5px;
  border: 1px solid #ddd;
  padding: 4px;
  background: white;
}

