
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 { font-size: 26px; line-height: 39px; }
h2 { font-size: 20px; line-height: 30px; }
h3 { font-size: 18px; line-height: 27px; }
h4 { font-size: 16px; line-height: 24px; }
h5 { font-size: 14px; line-height: 21px; }
h6 { font-size: 12px; line-height: 18px; }

p {
	margin: 9px 0;
}

